<p class="fs-5 fw-300">Bievenido al sistema de administración de medios audiovisuales para Inforcap</p>
<div class="row mt-5">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item"><i class="fa-solid fa-circle-chevron-right text-red fs-4 me-3"></i><%=link_to "Directorio Peliculas", movie_inicio_path, class: "text-decoration-none fw-600 text-dark fs-4" %></li>
            <li class="list-group-item"><i class="fa-solid fa-circle-chevron-right text-orange fs-4 me-3"></i><%=link_to "Directorio Series", serie_inicio_path, class: "text-decoration-none fw-600 text-dark fs-4" %></li>
            <li class="list-group-item"><i class="fa-solid fa-circle-chevron-right text-indigo fs-4 me-3"></i><%=link_to "Directorio Documentales", docu_inicio_path, class: "text-decoration-none fw-600 text-dark fs-4" %></li>
        </ul>
    </div>
</div>
